.sum{
    background-color: #F5F5DC;
    border: 1px solid #ffffff;
    border-radius: 4px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 16px;
    margin-left: 38%;
    padding: 16px;
    width: 200px;
    height: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
    font-family: cursive;
    border-radius: 25px;
}