
.vendor{
    display: inline-block;
    background-color: aqua;
    border: 1px solid #ffffff;
    border-radius: 4px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 16px;
    padding: 16px;
    width: 200px;
    height: 20px;
}

.category{
    display: inline-block;
    background-color: rgb(238, 242, 167);
    border: 1px solid #ffffff;
    border-radius: 4px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 16px;
    padding: 16px;
    width: 200px;
    height: 20px;
}


.white{
    display: inline-block;
    background-color: white;
    border: 1px solid #ffffff;
    border-radius: 4px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 16px;
    padding: 16px;
    width: 200px;
    height: 20px;
}

.green{
    display: inline-block;
    background-color: rgb(17, 219, 17);
    border: 1px solid #ffffff;
    border-radius: 4px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 16px;
    padding: 16px;
    width: 200px;
    height: 20px;
}

.red{
    display: inline-block;
    background-color: red;
    border: 1px solid #ffffff;
    border-radius: 4px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 16px;
    padding: 16px;
    width: 200px;
    height: 20px;
}

.transaction{
    background-color: #F5F5DC;
    border: 1px solid #ffffff;
    border-radius: 4px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 16px;
    padding: 16px;
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
    font-family: cursive;
    border-radius: 25px;
    
}



